body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: row;
    gap: 0px;
    background-image: url("img/pupbg.png");
    background-size: cover;
    justify-content: center;
    align-items: center;
}



header {
    background-color: #840404;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
    width: 20%;
    height: 100vh;


}

header img {
    width: 260px;
    height: 260px;
    background-color:#840404;
    padding: 10px;
    margin-top: 20px;
}

header h1 {
    color: #ebd7cf;
}

.map-container {
    position: relative;
    border-radius: 10px;
}

.map-container img {
    box-shadow: 10px 0 20px white;   /* Right shadow */
    margin-top: 0;
}

.kiosktitle {
    height: 60px;
    background-color: white;
    margin-bottom: 4px;
    align-content: center;
    justify-items: center;
}

.kiosktitle h3 {
    font-family: 'Montserrat';
    color: #840404;
    font-weight: bolder;

}

.kiosktitle p {
    font-size: smaller;
}

.info-box {
    display: flex;
    position: absolute;
    flex-direction: column;
    transform: translate(-50%, -50%); 
    background-color: white;
    padding: 5px;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    pointer-events: none; 
    max-width: 500px;
    gap: 10px;
    box-shadow: 0 0 15px #840404;
    position: absolute;
    
}

.info-box .info-dets {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.info-box h4 {
    color:#840404;
    padding: 0;
    margin: 5px;
}

.info-box img {
    width: 120px;
    height: 120px;
    border-width: 50px;
    border-color: #ebd7cf;
    padding: 0px;
    margin: 5px;
    border-radius: 10px;

}

.info-box p {
    max-width: 350px;
}