body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: row;
    gap: 0px;
    background-image: url("img/pupbg.png");
    background-size: cover;
    align-items: center;
}



header {
    background-color: #840404;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
    width: 20%;
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;


}

header img {
    width: 240px;
    height: 240px;
    padding: 10px;
    margin-top: 20px;
}

header h1 {
    color: #ebd7cf;
}

.map-container {
    position: relative;
    border-radius: 10px;
    width: 80%;
    margin-top: 0;
    height: 100vh;
}

.map-container img {
    box-shadow: 0 0 100px white;
    margin-left: 200px;
}

.kiosktitle {
    height: 45px;
    background-color: white;
    margin-bottom: 4px;
    align-content: center;
    justify-items: center;
    text-align: center;
}

.kiosktitle h3 {
    font-family: 'Montserrat';
    color: #840404;
    font-weight: bolder;
    align-self: center;
    justify-self: center;
    font-size: 25px;
    margin-top: 8px;


}

.kiosktitle p {
    font-size: 15px;
    font-family: 'Montserrat';

}

.info-box {
    display: none;
    position: absolute;
    flex-direction: column;
    transform: translate(-50%, -50%); 
    background-color: white;
    padding: 5px;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    pointer-events: none; 
    min-width: 280px;
    max-width: 320px;
    max-height: 200px;
    gap: 5px;
    box-shadow: 0 0 15px #840404;
    position: absolute;
    
}

.info-box .info-dets {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-items: center;
    align-self: center;
}

.info-box h4 {
    color:#840404;
    margin: 5px;
    text-align: center;
}

.info-box img {
    width: 100px;
    height: 100px;
    border-width: 50px;
    border-color: #ebd7cf;
    margin: 5px;
    border-radius: 10px;

}

.info-box p {
    text-align: justify;
    margin-right: 5px;
}

@media all and (max-width: 1308px) {
    .map-container img {
        margin-left: 115px;
    }
}

@media all and (max-width: 1188px) {
    .map-container img {
        margin-left: 50px;
    }
 }

 @media all and (max-width: 1136px) { /* your content here */ 
    .map-container img {
        margin-left: 40px;
        box-shadow: 0 0 5px white;

    }

    header img {
        width: 200px;
        height: 200px;
    }

    header h1 {
        font-size: 30px;
    }
 }

 @media all and (max-width: 1065px) { 
    header img {
        width: 120px;
        height: 120px;
    }

    header h1 {
        font-size: 25px;
    }

    header {
        width: 15%;
    }

    .map-container {
        width: 85%;
    }

    .map-container img {
        margin-left: 10px;
    }   

    .info-box {
        max-width: 200px;
        max-height: 150px;
    }

    .info-box img {
        width: 80px;
        height: 80px;
    }

    .info-box h4 {
        font-size: 15px;
    }

    .info-box p {
        font-size: 12px;
    }

    .kiosktitle h3 {
        font-size: 20px;
    }

    .kiosktitle p {
        font-size: 12px;
    }


  }

  @media all and (max-width: 1023px) { 
    .map-container img {
        margin-left: 10px;
    }
   }
