

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: #2C1B47;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: rem;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 1000;

}

.checkbtn {
    font-size: 30px;
    color:#DCCAE9;
    margin-left: a;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.logocontainer {
    display: flex;
    align-items: center;
}

.navbar img {
    width: 50px;
    padding-left: 15px;
    cursor: pointer;
}

.navbar h4 {
    margin-left: 10px;
    color: #724C9D;
    font-weight: bolder;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 40px;

}

.navbar li {
    margin-right: 0;
    font-size: 1rem;
}

.navbar li:hover, .navbar li.active {
    text-align: center;
    background: #724C9D;
    padding: auto auto;
    border-radius: 20px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
   
}


.navbar li a {
    text-decoration: none;
    color: #DCCAE9;
    padding: 15px 15px;
    margin: 5px;
    display: block;
}

.welcome {
    background: linear-gradient(to right, #2C1B47 50%, #DCCAE9 0%); 
    width: 100%;
    height: 100vh; 
    padding-top: 100px;
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    text-align: left;

}

.welcome img {
    width: 400px;
    margin-top: 35px;
    margin-right: 100px;
}

.textcontainer {
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.textcontainer h1 {
    font-family: 'Playfair Display', sans-serif; 
    font-size: 2.5rem; 
    color: #DCCAE9; 
    margin: 0; 

}

.textcontainer h3 {
    font-size: 1.2rem;
    justify-content: left;
    font-family: 'Playfair Display', serif;
    color: #724C9D;
}

.textcontainer button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #724C9D ;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, #724C9D 20%, #DCCAE9 20%);
    cursor: pointer;
    transition: transform 0.2s;
}

.buttoncontainer {
    display: flex;
    flex-direction: column;
}

.textcontainer button:hover{
    transform: scale(1.02);
}

.about {
    background-color: white;
    width: 100%;
    height: 100vh; 
    padding-top: 10px;
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    gap: 10px;
    margin: 0 auto;
}

.about .introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-width: 500px;
    line-height: 1.6; 
    font-size: 1.2rem; 
    color: #333;
}

.about .introduction h2 {
    font-family: 'Playfair Display', serif;
    color: #724C9D;
    margin-bottom: 10px; 
    font-size: 2.5rem; 
}

.about .introduction p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    text-align: justify; 
    font-size: smaller;
}

.details {
    display: flex;
    flex-direction: row;
    padding: 0;
}


.details .interests, .details .education {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    max-width: 300px;

}

.details li {
    padding: 5px;
}

.details h4 {
    color:#724C9D;
    padding-top:0;
    padding-bottom: 0;
}



.details img {
    width: 100px;
}

.skills {
    background-color: #2C1B47;
    width: 100%;
    height: 100vh; 
    padding-top: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.skills h1 {
    font-family: 'Playfair Display', serif; 
    color: #DCCAE9;
    font-weight: bolder;
    font-size: 3.0rem;
    margin: 20px auto 20px; 
    text-align: center; 
}

.skills .cards {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
    max-width: 100%;
}

.skills .card {
    background: linear-gradient(to bottom, #724C9D, #DCCAE9 );
    width: 220px;
    height: 200px;
    margin: 10px; 
    padding: 15px;
    border-radius: 20px;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    position: relative;
}


.front-card {
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;

}

.skills .card:hover .card-details {
    background-color:#DCCAE9;
    display: block;
    opacity: 1;
}

.skills .card-details {
    display: none;
    padding: 10px;
    transform: translateY(-200px);
    color:#2C1B47;
    font-family: 'Montserrat';
    font-size: 0.8rem;
}

.skills .card.details p {
    margin: 5px 0;
}


.skills h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color:#DCCAE9
}

.skills img {
    width: 150px;
    margin-bottom: 10px;
    margin-top: 0;
}

.projects {
    background-color: #DCCAE9;  
    width: 100%;           
    padding-top: 100px;         
    padding-bottom: 50px;      
    display: flex;  
    flex-direction: column;      
    align-items: center;         
    text-align: center;         
    margin: 0 auto;           
}


.projects h1 {
    font-family: 'Playfair Display', serif;  
    color: #2C1B47;            
    font-weight: bolder;         
    font-size: 3.0rem;         
    margin-bottom: 40px;       
}

.projects .cards {
    display: flex;            
    flex-direction: column;     
    align-items: center;      
    justify-content: center;     
    margin: 0 auto;       
}

.projects .card {
    display: flex;               
    flex-direction: row;     
    align-items: center;        
    justify-content: center;    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 50px 0;
    margin-top: 0;             
    padding: 20px;           
    width: 1000px;  
    height: 230px;             
    transition: transform 0.2s; 
}


.projects .card:hover {
    transform: scale(1.02);     
}

.projects img {
    width: 250px;              
    border-radius: 8px;      
    margin-right: 20px;        
}

.projects button {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    width: 120px;
    height: 30px;
    background-color: #2C1B47;
    border-radius: 50px;
    color: #DCCAE9;
    cursor: pointer;
}

.projects p {
    font-family: 'Montserrat', sans-serif;  
    font-size: 0.9rem;
    color: #2C1B47;             
    padding: 10px;              
    max-width: 600px;          
    line-height: 1.5;   
  
}

p.gm {
    font-size: 0.8rem;
}

.projects h4 {
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    color:#2C1B47
}

.experience {
    background-color: white;
    width: 100%;
    height: 100vh; 
    padding-top: 20px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    position: relative;
}

.experience h1 {
    font-family: 'Playfair Display', serif;  
    color: #724C9D;            
    font-weight: bolder;         
    font-size: 3.0rem;         
    margin-bottom: 40px; 
}

.slides {
    display: flex;
    gap: 100px
}

.slides h4 {
    font-family: 'Montserrat';
    color:#2C1B47;
    text-align: center;
}

.slider-wrapper {
    position: relative;
    width: 25rem; 
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 1.5 / 1; 
    overflow: hidden; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;

}

.slider img {
    width: 150px;
    flex: 0 0 100%;
    scroll-snap-align: start;
    object-fit: cover; 
    margin: 0 auto;
}

.slider-nav {
    position: static;
    display: flex;
    margin-top: 20px;;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    bottom: 3rem;
    left: 50%;
}

.slider-nav a {
    width: 0.5rem; 
    height: 0.5rem; 
    border-radius: 50%;
    background-color: #724C9D; 
    opacity: 0.75;
    transition: opacity ease 250ms;
    display: block; 
}

.slider-nav a:hover {
    opacity: 1;
}

.contact {
    background-color: #2C1B47;
    width: 100%;
    height: 40vh;
    padding-top: 20px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
}

.contact h1 {
    color:#724C9D;
    font-size: 2.0rem;
    margin-bottom: 10px;
}

.contact img {
    width: 40px;
    cursor: pointer;
    transition: transform 0.2s;
}

.contact img:hover{
    transform: scale(1.05);
}

.contact p {
    font-family: 'Montserrat', serif;
    font-size: 1rem;
    color: white;
}


.contactcontainer {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}


.email img {
    width: 35px;
    margin: 0px;
    background-color: #DCCAE9;
    background-size:auto;
    padding: 5px;
    border-radius: 10px;
}


.contact .rights {
    font-family: 'Playfair Display', serif;
    color:#DCCAE9;
    font-size: 0.6rem;
    margin-top: 50px;
}

@media (max-width: 980px) {

    html {
        font-size: 14px;
    }

    .about {
        margin: 0 auto;
        height: 100vh;
        max-width: 800px;
    }

    .introduction p {
        max-width: 500px;
    }

    .skills {
        height: 140vh;
    }

    .projects {
        height: 160vh;
    }

    .projects .card {
        max-width: 700px;
    }

    .experience {
        padding-top: 70px;
        margin: 0 auto;
    }

   
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
        margin-left: auto;
    }



    nav ul {
        position:fixed;
        width: 100%;
        height: 100vh;
        top: 50px;
        left: -100%;
        text-align: center;
        flex-direction: column;
        transition: all .5s;
        background-color: #2C1B47;
    }

    nav ul li {
        display: block;
    }

    nav ul li a:active {
        display: none;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ nav ul{
        left: 0;
    }

    .welcome {
        height: 70vh
    }

    .welcome img {
        margin-right: 30px;
        width: 350px;
    }

    .textcontainer {
        max-width: 250px;
    }

    .about {
        max-width: 600px;
    }

    .projects .card {
        max-width:600px;
    }

    .projects p {
        font-size: 0.75rem;
    }

    .contact .logos {
        gap: 35px;
    }

}

@media (max-width: 767px) {
    html {
        font-size: 14px;;
    }

    .welcome {
        height: 100vh;
        align-items: center;
        justify-items: flex-start;
        margin: 0;
        padding: 0;
        
    }

    .textcontainer {
        max-width: 200px;
        margin-bottom: 50px;
    }

    .welcome img {
        width: 300px;
    }

    .about {
        height: 120vh;
    }

}

@media (max-width: 480px) {
    html {
        font-size: 10px;
    }

    .welcome {
        display: flex;
        flex-direction: column;
        height: 110vh;
        background: #2C1B47;
        gap: 30px; 
        justify-content: center; 
        align-items: center;
        margin: 0px auto;
      }
      
      .welcome img {
        order: 1;
        align-self: center;
        margin: 20 auto;
        width: 200px;
      }
      
      .welcome .textcontainer {
        order: 2;
        margin: 0 auto; 
    
        padding: 0 auto;
        text-align: center;
        align-items: center;
        max-width: 300px;
      }

      .buttoncontainer {
        flex-direction: row;
        gap: 20px;
      }

      .welcome button {
        font-size: 1rem;
        width: 120px;
        height: 30px;
        border-width: 10px;
      }

      .about {
        height: 120vh;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 350px;
        margin: 20px auto;
        margin-top: 0;
      }

      .skills {
        height: 110vh;
        justify-content: flex-start;
        align-items: center;
        margin: 20px auto;
        padding-top: 20px;
        margin-top: 0;
      }


      .skills img {
        width: 100px;
      }

      .skills .card {
        width: 150px;
        height: 150px
      }
      
      .projects {
        height: 240vh;
        justify-content: flex-start;
        align-items: center;
        margin: 20px auto;
        padding-top: 20px;
        margin-top: 0;
      }

    

     .projects .card {
        width: 300px;
        height: 80%;
        flex-direction: column;
     }

     .experience {
        height: 100vh;
        justify-content: flex-start;
        align-items: center;
        margin: 20px auto;
        padding-top: 20px;
        margin-top: 0;
     }

     .sllider-wrapper {
        width: 90%;
     }
    

    .contactcontainer {
        flex-direction: column;
        gap: 40px;
    }

    .experience {
        margin-top: 50px;
        height: 100vh
    }

    .contact img {
        width: 25px;
    }

    .contact .logos {
        gap: 20px;
    }

    .contactcontainer {
        gap: 10px;
    }
    
}
