html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}



.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: #2C1B47;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    position: fixed;
    top: 0; /* Aligns it to the top of the viewport */
    left: 0; /* Aligns it to the left side */
    z-index: 1000;

}

.logocontainer {
    display: flex;
    align-items: center;
}

.navbar img {
    width: 50px;
    padding-left: 15px;
}

.navbar h4 {
    margin-left: 10px;
    color: #724C9D;
    font-weight: bolder;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 40px;

}

.navbar li {
    margin-right: 0;
}


.navbar li a {
    text-decoration: none;
    color: #DCCAE9;
    padding: 15px 15px;
    display: block;
}

.welcome {
    background: linear-gradient(to right, #2C1B47 50%, #DCCAE9 0%); /* Dark purple to light purple */
    width: 100%;
    height: 100vh; 
    padding-top: 100px;
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    text-align: left;

}

.welcome img {
    width: 400px;
    margin-top: 35px;
    margin-right: 100px;
}

.textcontainer {
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.textcontainer h1 {
    font-family: 'Playfair Display', sans-serif; /* Change this to your preferred font */
    font-size: 2.5rem; /* Adjust size as needed */
    color: #DCCAE9; /* Or another complementary color */
    margin: 0; 

}

.textcontainer h3 {
    justify-content: left;
    font-family: 'Playfair Display', serif;
    color: #724C9D;
}

.textcontainer button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #724C9D ;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, #724C9D 20%, #DCCAE9 20%);
    cursor: pointer;
    transition: transform 0.2s;
}

.textcontainer button:hover{
    transform: scale(1.02);
}

.about {
    background-color: white;
    width: 100%;
    height: 100vh; 
    padding-top: 10px;
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    gap: 10px;
    margin: 0 auto;
}

.about .introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-width: 500px; /* Set a width limit for better readability */
    line-height: 1.6; /* Increase line spacing for better readability */
    font-size: 1.2rem; /* Adjust the font size to make it easier to read */
    color: #333; /* A dark grey for better readability than black */
}

.about .introduction h2 {
    font-family: 'Playfair Display', serif;
    color: #724C9D;
    margin-bottom: 10px; /* Add space between the heading and the paragraph */
    font-size: 2.5rem; /* A slightly larger heading */
}

.about .introduction p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    text-align: justify; /* Align the text in a more formal way */
    font-size: smaller;
}

.details {
    display: flex;
    flex-direction: row;
    padding: 0;
}


.details .interests, .details .education {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    max-width: 300px;

}

.details li {
    padding: 5px;
}

.details h4 {
    color:#724C9D;
    padding-top:0;
    padding-bottom: 0;
}



.details img {
    width: 100px;
}

.skills {
    background-color: #2C1B47;
    width: 100%;
    height: 100vh; 
    padding-top: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.skills h1 {
    font-family: 'Playfair Display', serif; /* Fixed font family spelling */
    color: #DCCAE9;
    font-weight: bolder;
    font-size: 3.0rem;
    margin: 20px auto 20px; /* Center h1 and add vertical margin */
    text-align: center; /* Center text */
}

.skills .cards {
    display: flex;
    align-items: center;
    justify-content: center; /* Center cards */
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
    max-width: 100%;
}

.skills .card {
    background: linear-gradient(to bottom, #724C9D, #DCCAE9 );
    width: 250px;
    height: 220px;
    margin: 10px; /* Adjust margin for spacing */
    padding: 15px;
    border-radius: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 10px;
    transition: transform 0.2s;
}

.skills .card:hover {
    transform: scale(1.02);
}

.skills h2 {
    font-family: 'Montserrat', sans-serif;
    color:#DCCAE9
}

.skills img {
    width: 150px;
    margin-bottom: 10px;
}

.projects {
    background-color: #DCCAE9;  
    width: 100%;           
    padding-top: 100px;         
    padding-bottom: 50px;      
    display: flex;  
    flex-direction: column;      
    align-items: center;         
    text-align: center;         
    margin: 0 auto;           
}


.projects h1 {
    font-family: 'Playfair Display', serif;  
    color: #2C1B47;            
    font-weight: bolder;         
    font-size: 3.0rem;         
    margin-bottom: 40px;       
}

.projects .project-cards {
    display: flex;            
    flex-direction: column;     
    align-items: center;      
    justify-content: center;     
    margin: 0 auto;       
}

.projects .card {
    display: flex;               
    flex-direction: row;     
    align-items: center;        
    justify-content: center;    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 50px 0;
    margin-top: 0;             
    padding: 20px;           
    width: 1000px;  
    height: 230px;             
    transition: transform 0.2s; 
}


.projects .card:hover {
    transform: scale(1.02);     
}

.projects img {
    width: 250px;              
    border-radius: 8px;      
    margin-right: 20px;        
}

.projects button {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    width: 120px;
    height: 30px;
    background-color: #2C1B47;
    border-radius: 50px;
    color: #DCCAE9;
    cursor: pointer;
}

.projects p {
    font-family: 'Montserrat', sans-serif;  
    color: #2C1B47;             
    padding: 10px;              
    max-width: 600px;          
    line-height: 1.5;          
}

.projects h4 {
    font-family: 'Montserrat', sans-serif;
    color:#2C1B47
}


.experience {
    background-color: white;
    width: 100%;
    height: 100vh; 
    padding-top: 20px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    position: relative;
}

.experience {
    background-color: white;
    width: 100%;
    height: 100vh; 
    padding-top: 20px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    position: relative;
}

.experience h1 {
    font-family: 'Playfair Display', serif;  
    color: #724C9D;            
    font-weight: bolder;         
    font-size: 3.0rem;         
    margin-bottom: 40px; 
}

.sllider-wrapper {
    position: relative;
    max-width: 30rem; 
    width: 100%; 
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 1.5 / 1; 
    overflow: hidden; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;

}

.slider img {
    width: 250px;
    flex: 0 0 100%; /* Each image takes 80% width of the slider */
    scroll-snap-align: start; /* Align to start of the scroll */
    object-fit: cover; /* Ensure images cover the space without distortion */
    margin: 0 auto; /* Center images within the slider */
}

.slider-nav {
    position: static;
    display: flex;
    margin-top: 20px;;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    bottom: 3rem;
    left: 50%;
}

.slider-nav a {
    width: 0.5rem; 
    height: 0.5rem; 
    border-radius: 50%;
    background-color: #724C9D; 
    opacity: 0.75;
    transition: opacity ease 250ms;
    display: block; 
}

.slider-nav a:hover {
    opacity: 1;
}

.contact {
    background-color: #2C1B47;
    width: 100%;
    height: 40vh;
    padding-top: 20px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
}

.contact h1 {
    color:#724C9D;
    font-size: 2.0rem;
    margin-bottom: 10px;
}

.contact img {
    width: 40px;
    cursor: pointer;
    transition: transform 0.2s;
}

.contact img:hover{
    transform: scale(1.05);
}

.contact p {
    font-family: 'Montserrat', serif;
    color: white;
}

.contact .logos {
    display: flex;
    gap: 70px;
}

.contactcontainer {
    display: flex;
    flex-direction: row;
    gap: 150px;
    align-items: center;
    justify-content: center;
}

.contact .socials {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.contact .email {
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-radius: 50px;
}

.email img {
    width: 35px;
    margin: 0px;
    background-color: #DCCAE9;
    background-size:auto;
    padding: 5px;
    border-radius: 10px;
}


.contact .rights {
    font-family: 'Playfair Display', serif;
    color: black;
    margin-top: 30px; 
    margin-bottom: 5px; 
    margin-right: 50px;
    font-size: smaller;
    align-self: flex-end;
}
