body {
    background-color: #ffffcc;
    color: #330000;
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, footer {
    background-color: #ccaa66;
}

header {
    width: 850px;
    height: 80px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: auto auto;
    border-style: solid;
    border-color: #330000;
    border-top-width: 5px;
    
}

nav {
    width: 200px;
    background-color: #E8D882;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    padding: 0; 
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 15px;
}

nav ul li a {
    text-decoration: none;
    
}

nav ul li {
    margin: 10px 0;

}

nav a:hover, nav a:active {
    color: purple;
}

#home {
    display: block;
}

/* When a link is clicked, show the corresponding section */
:target {
    display: block;
}

/* Hide all other sections when a specific one is targeted */
.content:target {
    display: block;
}

.content:not(:target) {
    display: none;
}



.home {
    background-color: #f1e8b0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    height: 280px;
}

.home img {
    width: 210px;
    height: 210px;   
    margin: 10px;
    align-self: flex-end;
}


.sections {
    display: flex;
}


.sections {
    width: 850px;
    border-style: solid;
    border-color: #330000;
    border-top-width: 0px;
}


.home {
    display: flex;
    flex-direction: row;
}

.home ul {
    white-space: nowrap;
}


.home p, .home ul {
    margin-top: 22px;
    margin-left: 10px;
}

.menu {
    margin-left: 10px;
}

#music {
    background-color:#f1e8b0;
    padding: 20px;
}

#music h3 {
    margin-top: 0;
}

#music ul {
    list-style-type: none;
    padding: 0;
}

#music form {
    margin-top: 20px;
}

#jobs {
    background-color:#ffffcc;
    padding: 20px;
    margin-top: 0;;
}

#jobs h3 {
    margin-top: 0;
}

#jobs ul {
    list-style-type: none;
    padding: 0;
}

#jobs blockquote {
    border-left: 2px solid #724C9D; /* Example border color */
    padding-left: 20px;
    margin: 20px 0;
}


footer {
    width: 850px;
    height: 50px;
    border-style: solid;
    border-color: #330000;
    border-top-width: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 5px;
}

footer p {
    font-size:xx-small;
}

footer a {
    color: purple;
}

